@using System.Linq
@using BlazorTest1.DataAccess
@using BlazorTest1.Modelss
@inject NavigationManager NavigationManager
@inject UserContext DbContext

@page "/opsdashboard"

<h3>Registration</h3>



@code {

   
}
